<ion-header>
  <ion-toolbar>
    <ion-title>userlist</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col sizeMd="4" offsetMd="4">
        <ion-list>
          <ion-item *ngFor="let characters of characters">
            <ion-avatar slot="start">
              <img src="{{characters.image}}" alt="{{characters.name}}" />
            </ion-avatar>
            <ion-label>{{characters.name}}</ion-label>
            <ion-button
              [routerLink]="['/profile/' + characters.id]"
              routerLinkActive="router-link-active"
              >View</ion-button
            >
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
