<ion-header [translucent]="true">
  <ion-toolbar>
    <img class="" src="" alt="" />
    <ion-title> Rick and Morty APP </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Rick and Morty APP</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content fullscreen>
    <ion-list>
      <ion-list-header>Sections</ion-list-header>
      <ion-item [routerLink]="['/userlist']"
      routerLinkActive="router-link-active">
        <ion-label>Characters</ion-label>
        <ion-badge color="success" slot="end">826</ion-badge>
      </ion-item>
      
    </ion-list>
  </ion-content>
</ion-content>
